---
const year = new Date().getFullYear();
---
<footer class="foot">
  <div class="foot__top">
    <div class="foot__col">
      <h5>עקבו אחריי</h5>
      <div class="social">
        <a href="https://instagram.com/two_studio_interior_design" target="_blank" rel="noopener">Instagram</a>
        <a href="https://www.facebook.com/profile.php?id=100076946022571" target="_blank" rel="noopener">Facebook</a>
      </div>
    </div>
    <div class="foot__logo"><img src="/assets/logo.png" alt="שרון שגיא" /></div>
    <div class="foot__col">
      <h5>בואו נדבר</h5>
      <a href="https://wa.me/9720523724032">052-372-4032</a>
      <a href="mailto:sharonsa.design@gmail.com">sharonsa.design@gmail.com</a>
      <a>נופית, ישראל</a>
    </div>
  </div>
  <div class="foot__bottom">
    <span>© {year} שרון שגיא · תכנון ועיצוב פנים</span>
    <span>עיצוב פנים ותכנון הבית · נופית והצפון</span>
  </div>
</footer>
